{% extends "base.html.j2" %}
{% block content %}
{# about_content is rendered from partials/about_content.html.j2 (autoescaped);
   injected here as trusted, already-rendered HTML. #}
{{ about_content | safe }}
{% endblock %}
